@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}
.container {
    display: flex;
    flex-direction: column-reverse;

}
.gameTable {
    border: 1px solid black;
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translate(-50%); 
    width: 720px;
    height: 700px;
    background: rgb(0, 14, 0);
    box-shadow: 5px 5px 5px 5px rgb(31, 30, 30);
}
.slot {
    width: 100px;
    height: 100px;
    background: white;
    padding: 5%;
    border: 1px solid black;
    border-radius: 50%;
}
h1 {
    text-align: center;
    top: 5vh;
}
.resetButton {
    position: absolute;
    background-color: gray;
    top: 83vh; 
    left: 50%;
    transform: translate(-50%);
    border: 1px solid black;
    border-radius: 25%;
    width: 5rem;
    text-align: center;
    padding: 5px;
}
body {
    background-image: url("https://64.media.tumblr.com/c5cfd6855032b097c9e0f34ddab2c7ab/27d426bbf5c050e4-51/s1280x1920/8a99bea582251b44654b3972452de82cad50f7b7.jpg");
    background-size: 100%;
}
h3 {
    position: absolute;
    top: 92vh;
    left: 45.5%;
    text-align: center;
}
h4 {
    position: absolute;
    top: 9vh;
    left: 25%;
    text-align: center;
    font-size: 40px;
}
.resetButton > button {
    font-size: 30px;
    padding: 5px;
    border-radius: 25%;
}
