*{
    margin: 0 auto;
    padding: 0;
    /* ensuring all the boxes are the same size: */
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column-reverse;

}
.gameTable {
    border: 1px solid black;
    position: absolute;
    top: 4rem;
    left: 50%;
    /* transforms our table into a 2D variable and makes it in the middle of the screen with -50% */
    transform: translate(-50%); 
    width: 400px;
    height: 500px;
    background: rgb(1, 59, 1);
    /* applying a shadow to each box for look */
    box-shadow: 5px 5px 5px 5px rgb(31, 30, 30);
}
.slot {
    width: 100px;
    height: 100px;
    background: white;
    padding: 5%;
    border: 1px solid black;
    border-radius: 50%;
}
h1 {
    text-align: center;
}
.resetButton {
    position: absolute;
    top: 60vh; 
    left: 50%;
    transform: translate(-50%);
    border: 1px solid black;
    width: 5rem;
    text-align: center;
}
body {
    background-color: greenyellow;
}